* {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

button,
input {
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px black;
  padding-top: 6px;
  margin: 5px;
  height: 30px;
  font-size: 13px;
}

button:focus,
input:focus {
  outline: 0;
}

.weather {
  margin-top: 80px;
}

.weather-display {
  font-size: 28px;
  margin: 10px;
}

.thermostat {
  width: 200px;
  height: 320px;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  margin-top: 13vh;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 3px 4px 7px 3px black;
}

.temp-display {
  margin: 15px;
  height: 150px;
  color: #515151;
  border: 1px solid black;
  border-radius: 10px;
  width: 150;
  /* background-color: #c1c1c1; /* #cc6666, #66cc78 */
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
}

.on {
  box-shadow: none;
  border: 1px solid black;
}

.eco {
  box-shadow: 4px 5px 7px 4px #7dd88d;
}

.low-usage {
  background-color: #66cc78;
}

.medium-usage {
  background-color: #c1c1c1;
}

.high-usage {
  background-color: #cc6666;
}

#down,
#up {
  width: 30px;
  border-radius: 50%;
  border: none;
}

#up {
  background-color: #ed8b8b;
}

#down {
  background-color: #8bdced;
}

#power-save {
  width: 100px;
}

#usage {
  font-size: 18px;
}

#reset-button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

#reset-text {
  font-family: 'Orbitron', sans-serif;
  font-size: 13px;
}

#city {
  height: 20px;
  margin-top: 15px;
}

#weather-description:first-letter {
  text-transform: capitalize;
}
