* {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

button {
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px black;
  padding-top: 6px;
  margin: 5px;
  height: 25px;
  width: 60px;
  font-size: 13px;
}

button:focus {
  outline: 0;
}

.weather {
  margin-top: 40px;
}

.thermostat {
  width: 200px;
  height: 320px;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  margin-top: 15vh;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 3px 4px 7px 3px black;
}

.temp-display {
  margin: 15px;
  height: 150px;
  color: #515151;
  border: 1px solid black;
  border-radius: 10px;
  width: 150;
  /* background-color: #c1c1c1; /* #cc6666, #66cc78 */
  font-family: 'Orbitron', sans-serif;
  padding: 10px;
}

.on {
  box-shadow: none;
  border: 1px solid black;
}

.eco {
  box-shadow: 4px 5px 6px 5px #7dd88d;
}

.low-usage {
  background-color: #66cc78;
}

.medium-usage {
  background-color: #c1c1c1;
}

.high-usage {
  background-color: #cc6666;
}

#power-save {
  width: 100px;
}

#usage {
  font-size: 18px;
}

#reset-button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

#reset-text {
  font-family: 'Orbitron', sans-serif;
  font-size: 13px;
}
